<html>
<head>
    <title>Login Form Design</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="loginbox">
        <img class="avatar" src="avatar.png">
        <h1>Login Here</h1>
        <form>

            <input type="text" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" placeholder="Enter Password">
            <input type="submit" value="Login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>

    </div><p>Username</p>



</body>
</html>